@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #9cc0ff;
    background-image: linear-gradient(135deg, #9cc0ff 0%, #ffade8 100%);
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
}

.main {
    position: relative;
    padding: 20px 20px;
    margin: 0px auto;
    max-width: 800px;
    border-radius: 20px;
    top: 50px;
    background-color: rgb(106, 137, 204, 75%);
    height: 85vh;
}

.e-flex {
    display: flex;
    box-sizing: border-box;
    height: 100%;
}

.e-flex-image {
    width: 220px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #30336b;
    padding: 10px;
    height: 100%;
}

.e-flex-info {
    flex: 1;
    padding: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.e-flex-title {
    margin-bottom: 20px;
}

.e-flex-title span {
    display: block;
    height: 10px;
    margin-bottom: 10px;
    background-color: #eee;
}

.e-flex-time {
    width: 50px;
    height: 20px;
    margin-bottom: 0;
    margin-top: auto;
    color: rgb(255, 255, 255, 20%);
}

/* avatar */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input, button, textarea, select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.avatar-gradient-border {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 150rem;
    z-index: 1;
}

.avatar-gradient-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: linear-gradient(to right, #1abcf4, #5defb8);
    border-radius: inherit;
    transform: scale(1.15);
    z-index: -1;
}

.avatar-flash {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 150rem;
    z-index: 1;
    overflow: hidden;
}

.avatar-flash:before {
    content: "";
    width: 14px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) rotate(15deg);
    animation: flash 1s infinite;
}

@keyframes flash {
    to {
        transform: translateX(100%) rotate(15deg);
        left: 100%;
    }
}

.avatar-image {
    border-radius: 150rem;
}

.avatar-center {
    margin: 0 auto;
    margin-top: 2.2rem;
}

/* name */

.g-info {
    margin: 30px auto;
}

.g-name {
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
}